[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
elits = "5RPvUJ1pAQpeADq4QDX179etC3SUmk6q1TFdMYYqGNPF"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
